@model ColegioApp.Models.AlumnoGrado
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Agregar AlumnoGrado";
}

<h2>Agregar AlumnoGrado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.AlumnoID)
        @Html.EditorFor(model => model.AlumnoID, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GradoID)
        @Html.EditorFor(model => model.GradoID, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Seccion)
        @Html.EditorFor(model => model.Seccion, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "AlumnoGradoIndex", null, new { @class = "btn btn-default" })
    </div>
}
